@import './modal.css';

body{
background:linear-gradient(to bottom, #ffffff 12%, #f0ecec 97%);
font-family: 'Courier New', Courier, monospace;
display: flex;
}
.greeting{
    text-align: center;
    padding: 1em;;
}
.criminalsContainer, .officersContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    border:double rgba(177, 177, 177, 0.548) .09em;
    background-color: rgba(236, 236, 236, 0.411);
    max-width: 93%;
    margin:1em;
}
.notesAside{
    display:flex;
    flex-direction: column;
    padding:1.5em 1.5em 0em 1.5em;
    margin-right:1em;
    background-color: rgba(236, 236, 236, 0.411);
}

.criminal{
    border:double .2em rgba(155, 151, 151, 0.377);
    width:25%;
    padding:.7em;
    margin:.9em;
    background-color: rgb(255, 255, 255);
}

.caseDataContainer {
    display: flex;
}
.filters{
    display:flex;
    background:linear-gradient(to bottom, #ffffff 12%, #e6e6e6 77%);
    margin-top:1em;
    padding: .5em;
    width: 100%;
    border-left: double .3em rgba(211, 211, 211, 0.658);
    border-bottom: double .4em rgba(211, 211, 211, 0.658);
}

.filter{
    padding:.5em;
    margin:.5em;
    margin-left: 2em;
    font-weight: bold;
    border-color: rgba(211, 211, 211, 0.658);
    border-radius: 10px;
    border-style: none double solid double;
}

.filterText{
    padding:.5em;
    margin:.5em;
    margin-left: 2em;
    font-weight: bold;
}

/* .form{
    background-color: rgba(224, 221, 221, 0.767);
    padding: .5em
} */

.note{
    padding: .5em;
}

.noteListButton, #saveNote{
    margin:.5em
}

p{
    margin:.1em;
}
h3{
    margin:.3em;
    text-align: center;
}

.dropdown{
    border-radius:4px;
    background-color:rgb(226, 226, 226);
}
